* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Oxygen';
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
}

p {}

a {}

.h1,
h1,
h2 {
    margin-top: 12px;
    margin-bottom: 12px;
    font-family: 'AnticSlab';
}

h3 {}

.sl-main-wrp-ctnr {
    width: 100%;
    height: auto;
}

.sl-header-ctnr {
    width: 100%;
    height: auto;
}

.scl-icons-sr-ctnr {
    width: 90%;
    min-height: 60px;
    margin: 0 auto;
    padding: 10px 0px 10px 0px;
    text-align: center;
}

.sl-nav-ctnr {
    box-shadow: 0px 3px 11px 0px rgba(70, 49, 49, 0.5);
}

.sl-navbar {
    background-color: #ff5733;
    border-radius: 0px;
    border: none;
    margin-bottom: 0px;
    min-height: 60px;
}

.navbar-brand {
    height: 60px;
    padding: 20px 20px;
    font-size: 30px;
    line-height: 20px;
    color: white;
}

.nav>li>a {
    font-family: AnticSlab;
    color: white;
    font-size: 18px;
}

.navbar-brand:hover {
    color: white;
}

.pl-rt {
    float: none;
}

.navbar-toggle .icon-bar {
    width: 30px;
    height: 3px;
    background: #ffffff;
    border-radius: 0px;
}

form.sl-search input[type=text] {
    padding: 8px;
    font-size: 17px;
    border: 1px solid #f65634;
    width: 80%;
    outline: none;
}

form.sl-search button {
    float: right;
    width: 20%;
    padding: 8px;
    background: #f65634;
    color: white;
    font-size: 17px;
    border-left: none;
    cursor: pointer;
    outline: none;
    border: 1px solid #f65634;
}

form.sl-search button:hover {
    background: #ff5733;
}

form.sl-search::after {
    content: "";
    clear: both;
    display: table;
}

.navbar-toggle {
    margin-top: 13px;
}

.sl-slider-ctnr {
    width: 100%;
    min-height: 350px;
    background: #ff5733;
    background: linear-gradient(to bottom right, white, #ff5733);
}

.sr-icon {
    width: 50px;
    height: 40px;
    color: #fff;
    line-height: 40px;
    font-size: 22px;
    border-radius: 2px;
    margin-right: 5px;
    transition: all .15s ease-in-out;
    border: 0;
    outline: none;
}

#share {
    background-color: #41bf02;
}

#fb {
    background-color: #3b579d;
}

#fb:hover {
    background-color: #3b579d;
}

#tw {
    background-color: #30aced;
}

#linkedin {
    background-color: #1e7bb6;
}

#pint {
    background-color: #be000f;
}

#mail-i {
    background-color: #e63935;
}

.sr-icon:hover {
    border-radius: 4px !important;
    opacity: 0.8;
}

.sl-body-ctnr {
    width: 100%;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: skyblue;
    background-image: url(../pics/body-bg2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.sl-header:before,
.sl-header:after,
.sl-ps-ctnr:before,
.sl-ps-ctnr:after,
.sl-ltns-ctnr:before,
.sl-ltns-ctnr:after,
.sl-body-ctnr::before,
.sl-body-ctnr:after,
.gbl-sl-ctnr:before,
.gbl-sl-ctnr:after {
    display: table;
    clear: both;
    content: " ";
}

.sl-header:after,
.sl-ltns-ctnr:after,
.sl-body-ctnr:after,
.gbl-sl-ctnr:after {
    clear: both;
}

.gbl-sl-ctnr {
    padding-bottom: 10px;
    padding-top: 10px;
    background: #b44907;
    color: white;
}

.sl-pnl-default {
    color: #000;
}

.sl-header {
    padding-bottom: 5px;
    padding-top: 5px;
    color: #53080e;
    text-transform: uppercase;
    background: linear-gradient(to bottom right, white, #ff5733);
    margin-bottom: 10px;
    margin-left: 15px;
    border-radius: 2px;
}

.sl-heading {
    /* background: #f9b708; */
    background: #ec3b90;
    /*  color: #230e02; */
    color: white;
    font-size: 18px;
}

.sl-table {
    margin-bottom: 0px;
}

.sl-pnl-ftr {
    text-align: center;
    border: none;
}

.sl-btn {
    outline: none;
    border: none;
    transition: all .15s ease-in-out;
    font-family: AnticSlab;
    letter-spacing: 1px;
}

.more-info {
    font-size: 18px;
    padding: 15px 15px;
    border-radius: 0px;
    color: #ed3b90;
    background: white;
    border: 2px solid;
    text-shadow: 0px 0px 0px;
}

.more-info:hover {
    text-shadow: none;
    background: #ed3b90;
    color: white;
}

.pnl-img {
    text-align: center;
    padding-bottom: 15px;
}

.pnl-img img {
    max-width: 300px;
}

.lts-body {
    width: 98%;
    marker: auto;
    text-align: center;
}

.table>tbody>tr>td {
    border-top: 1px solid #ed3b90;
}

tr:last-child {
    border-bottom: 1px solid #ed3b90;
}

.sh-td {
    color: #ed3b90;
    font-family: AnticSlab;
    text-shadow: 0px 0px 0px;
}

@media (min-width: 767px) {
    .gbl-sl-ctnr {
        width: 98%;
        margin: auto;
    }
    .pl-rt {
        float: right;
    }
}

@media (min-width:1300px) {
    .gbl-sl-ctnr {
        width: 1270px;
    }
}

@media (min-width:1400px) {
    .gbl-sl-ctnr {
        width: 1370px;
    }
}

@media (max-width:600px) {
    .pnl-img img {
        max-width: 250px;
    }
}

@media (max-width: 767px) {
    .sr-ctnr {
        padding-top: 10px;
    }
    .no-rt-pd {
        padding-right: 15px;
    }
}

@media (max-width:420px) {
    form.sl-search button {
        width: 25%;
    }
    form.sl-search input[type=text] {
        width: 75%;
    }
    .sr-icon {
        width: 40px;
        height: 35px;
        line-height: 35px;
        font-size: 20px;
    }
}